@{
    ViewData["Title"] = "Recieve SNMP messages";
}
@using EthernetSwitch.Data.Models
@model EthernetSwitch.Models.SNMP.TrapSNMPv3ViewModel

<h2>SNMP v3</h2>
<div class="row">
    <form asp-action="TrapSNMPv3" method="post">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="Port">Port:</label>
                <input class="form-control" asp-for="Port" id="Port" />
            </div>
            <div class="form-group col-md-6">
                <label for="EngineId">Engine Id:</label>
                <input class="form-control" asp-for="EngineId" id="EngineId" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="UserName">Username: </label>
                <input class="form-control" asp-for="UserName" id="UserName" />
            </div>
            <div class="form-group col-md-6">
                <label for="Password">Password (MD5): </label>
                <input class="form-control" asp-for="Password" id="Password" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="EncryptionType">Encryption Type: </label>
                <select class="form-control" asp-for="EncryptionType" id="EncryptionType">
                    <option value="AES">AES</option>
                    <option value="DES" selected>DES</option>
                </select>
            </div>
            <div class="form-group col-md-8">
                <label for="Encryption">Encryption: </label>
                <input class="form-control" asp-for="Encryption" id="Encryption" />
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Add Active User</button>
        @if (!string.IsNullOrWhiteSpace(Model.Error))
        {
            <div class="alert alert-danger" role="alert">
                @Model.Error
            </div>
        }
    </form>
</div>

<br />
<br />
<h3>Messages</h3>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>TimeStamp</th>
                <th>MessageId</th>
                <th>UserName</th>
                <th>Type</th>
                <th>ContextName</th>
                <th>Enterprise</th>
                <th>Variables</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var message in (IEnumerable<SNMPMessage>)ViewData["Messages"])
            {
                <tr>
                    <td>@message.TimeStamp</td>
                    <td>@message.MessageId</td>
                    <td>@message.UserName</td>
                    <td>@message.Type</td>
                    <td>@message.ContextName</td>
                    <td>@message.Enterprise</td>
                    <td>
                        <ul class="list-group">
                            @foreach (var variable in message.Variables)
                            { 
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                @variable.VariableId - @variable.Value
                            </li>
                            }
                        </ul>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
<a asp-action="ClearTrapMessages" class="btn btn-outline-secondary">
    <i class="fas fa-trash"></i>
    Clear Messages
</a>

<br />
<br />
<h3>Active Users</h3>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>User Name</th>
                <th>Engine Id</th>
                <th>Port</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in (IEnumerable<SNMPTrapUser>)ViewData["ActiveUsers"])
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>@user.EngineId</td>
                    <td>@user.Port</td>
                    <td>
                        <a asp-action="RemoveTrapUser" asp-route-id="@user.Id" class="btn btn-outline-secondary">
                            <i class="fas fa-trash"></i>
                            Remove
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

