@{
    ViewData["Title"] = "Settings";
}
<h1>@ViewData["Title"]</h1>

<p>Application settings</p>
@model EthernetSwitch.ViewModels.SettingsViewModel

<form asp-action="Settings" method="post">
    <div class="custom-control custom-switch">
        <input type="checkbox"
               class="custom-control-input"
               name="@nameof(Model.AllowRegistration)"
               value="true"
               id="@nameof(Model.AllowRegistration)"
               @(Model.AllowRegistration ? "checked" : string.Empty)>
        <label class="custom-control-label"
               for="@nameof(Model.AllowRegistration)"
               data-toggle="tooltip"
               data-placement="bottom"
               title="Allow to register new users">
            Allow registration of new users
        </label>
    </div>

    <div class="custom-control custom-switch">
        <input type="checkbox"
               class="custom-control-input"
               name="@nameof(Model.RequireConfirmation)"
               value="true"
               id="@nameof(Model.RequireConfirmation)"
               @(Model.RequireConfirmation ? "checked" : string.Empty)>
        <label class="custom-control-label"
               for="@nameof(Model.RequireConfirmation)"
               data-toggle="tooltip"
               data-placement="bottom"
               title="Admin must confirm user in order to use this switch">
            Require registration confirmation of new users
        </label>
    </div>

    <div class="custom-control custom-switch">
        <input type="checkbox"
               class="custom-control-input"
               name="@nameof(Model.AllowTagging)"
               value="true"
               id="@nameof(Model.AllowTagging)"
               @(Model.AllowTagging ? "checked" : string.Empty)>
        <label class="custom-control-label"
               for="@nameof(Model.AllowTagging)"
               data-toggle="tooltip"
               data-placement="bottom"
               title="Allow use tagged datagram">
            Allow tagged VLANs
        </label>
    </div>
    <br />
    <div class="form-group">
        <button class="btn btn-outline-primary btn-sm">Save settings</button>
    </div>
</form>
<br />
<br />
<form asp-action="RegisterUsers" asp-controller="User" method="post">
    <div class="form-group">
        <label for="NotConfirmedUsersSelect">Confirm new users</label>
        <select name="UserNames[]" multiple class="form-control" id="NotConfirmedUsersSelect">
            @foreach (var user in Model.NotConfirmedUsers)
            {
                <option>@user</option>
            }
        </select>
    </div>

    <div class="form-group">
        <button class="btn btn-outline-primary btn-sm">Confirm users</button>
    </div>
</form>
<br />
<br />
<form asp-action="RemoveUsers" asp-controller="User" method="post">
    <div class="form-group">
        <label for="RemoveUsersSelect">Delete users</label>
        <select name="UserNames[]" multiple class="form-control" id="RemoveUsersSelect">
            @foreach (var user in Model.AllUsers)
            {
                <option>@user</option>
            }
        </select>
    </div>

    <div class="form-group">
        <button class="btn btn-outline-danger btn-sm">Remove users</button>
    </div>
</form>
