@{
    ViewData["Title"] = "Home Page";
}
@model EthernetSwitch.ViewModels.IndexViewModel
<div class="text-center">
    <h1 class="display-4">Ethernet Switch</h1>
    <br/>
    <table class="table table-striped">
        <thead>
        <tr>
            <th> @Html.DisplayNameFor(model => model.Interfaces[0].Name)</th>
            <th> @Html.DisplayNameFor(model => model.Interfaces[0].Status)</th>
            <th> @Html.DisplayNameFor(model => model.Interfaces[0].Hidden)</th>
            <th> @Html.DisplayNameFor(model => model.Interfaces[0].Tagged)</th>
            <th> Virtual Lans</th>
            <th> Operations</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var @interface in Model.Interfaces)
        {
            if (!@interface.Hidden)
            {
                <partial name="_InterfaceRow" model="@(@interface)"/>
            }
        }
        </tbody>
    </table>
</div>